.DS_Store
nr
SPECTRA/CKC14/*
OUTPUTS/*
CodeToDo.txt
runsps.f90
metalml.f90
colorteff.f90
bytype.f90
Makefile.prv

# Ignore compiler outputs
build/
*.o
*.mod
*.exe

# Executables produced by Makefile
autosps
simple
lesssimple
spec_bin
generate_test_data
test_runner